@tailwind base;
@tailwind components;
@tailwind utilities;

.toggle .line {
	transition: y 200ms ease-in 200ms, transform 200ms ease-in, opacity 0ms 200ms;
	transform-origin: center;
}

.toggle[aria-expanded="true"] .line {
	transition: y 200ms 100ms ease-in, transform 200ms ease-in 200ms, opacity 0ms 200ms;
}

.toggle[aria-expanded="true"] :is(.top, .bottom) {
	y: 45;
}

.toggle[aria-expanded="true"] .top {
	transform: rotate(45deg);
}

.toggle[aria-expanded="true"] .middle {
	opacity: 0;
}

.toggle[aria-expanded="true"] .bottom {
	transform: rotate(-45deg);
}

body {
	@apply bg-bodyBg;
}

.ReactCollapse--collapse {
	transition: height 500ms;
}

.features {
	background: url("/assets/images/Features/wave.svg") no-repeat 100% 17.3rem,
		url("/assets/images/Features/eclipse.svg") no-repeat 100% 28.5rem,
		url("/assets/images/Features/dot.svg") no-repeat 100% 97%;
}

.faq {
	background: url("/assets/images/FAQs/wave.svg") no-repeat 0% 12rem,
		url("/assets/images/FAQs/dot.svg") no-repeat 100% 2rem;
}
.courses {
	background: url("/assets/images/Courses/star.svg") no-repeat 0% 0%;
}
